# -- Site Configuration --
# Refer to the theme docs for more details about each of these parameters.

theme = "blowfish"
baseURL = ""
defaultContentLanguage = "en"
disableLanguages = ['pt-pt']

enableRobotsTXT = true
summaryLength = 30

buildDrafts = false
buildFuture = false

enableEmoji = true

googleAnalytics = "G-R94R4YKFEC"

[pagination]
  pagerSize = 27

[params.author]
  name = "Hisam Mehboob"
  image = "img/bw_avatar.jpg"
  headline = "metaphysically displaced person"
  subtitle = "Passionate about C/C++, Open Source, and Linux"
  bio = "metaphysically displaced person"
  links = [
    { email = "mailto:hisamshar@gmail.com" },
    
    { linkedin = "https://linkedin.com/in/hisammehboob" },
  
    { goodreads = "https://www.goodreads.com/user/show/120239398-hisam-shar" },
    { github = "https://github.com/hissamshar" },
    #{ medium = "https://medium.com/@nunocoracao" },
    #{ hackernews = "https://news.ycombinator.com/user?id=nunocoracao"},
    #{ mastodon = "https://masto.ai/@nunocoracao" },
    { x-twitter = "https://x.com/hisam_shar/" },
    { instagram = "https://www.instagram.com/hissamshar/" },

    #{ reddit = "https://reddit.com/user/nunoheart" },
    #{ telegram = "https://t.me/nunocoracao" },
    #{ music = "/music" },
  ]


[imaging]
  anchor = 'Center'

[taxonomies]
  tag = "tags"
  category = "categories"
  author = "authors"
  series = "series"

[sitemap]
  changefreq = 'daily'
  filename = 'sitemap.xml'
  priority = 0.5

[outputs]
  home = ["HTML", "RSS", "JSON"]

[related]
  threshold = 1
  includeNewer = true
  toLower = true

    [[related.indices]]
        name = "tags"
        weight = 100

    [[related.indices]]
        name = "categories"
        weight = 100

    [[related.indices]]
        name = "series"
        weight = 50

    [[related.indices]]
        name = "authors"
        weight = 10

    [[related.indices]]
        name = "date"
        weight = 0

    [[related.indices]]
      applyFilter = true
      name = 'fragmentrefs'
      type = 'fragments'
      weight = 10

