[submodule "themes/book"]
	path = themes/book
	url = https://github.com/alex-shpak/hugo-book.git
[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
[submodule "hugo-theme-nostyleplease"]
	path = hugo-theme-nostyleplease
	url = https://github.com/hanwenguo/hugo-theme-nostyleplease.git
[submodule "themes/hugo-theme-nostyleplease"]
	path = themes/hugo-theme-nostyleplease
	url = https://github.com/hanwenguo/hugo-theme-nostyleplease.git
